<%= form_with(model: @task) do |form| %>
  <div><%= form.label :title %></div>
  <div><%= form.text_area :title %></div>
  <div><%= form.label :body %></div>
  <div><%= form.text_area :body %></div>
  <div><%= form.submit %></div>
<% end %>
