<% breadcrumb :mypage %>
<% if flash[:success] %>
  <div class="text-green-500 bg-green-100 p-4 rounded text-center">
    <p><%= flash[:success] %></p>
  </div>
<% end %>
<div class="container mx-auto flex px-5 py-12 items-center justify-center flex-col">
  <div class="bg-white shadow-md p-6 rounded-lg max-w-5xl w-full lg:w-2/3">
    <div class="hidden sm:flex justify-between mb-6 items-center border-b border-black pb-2">
      <h1 class="text-4xl font-bold">推しプロフィール</h1>
      <% if @oshi_profile %>
        <%= link_to "編集", edit_oshi_profile_path, class: 'text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg ml-4' %>
      <% else %>
        <%= link_to "設定", new_oshi_profile_path, class: 'text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg ml-4' %>
      <% end %>
    </div>
    <div class="block sm:hidden text-center mb-4 border-b border-black pb-2">
      <h1 class="text-3xl font-bold">推しプロフィール</h1>
    </div>
    <% if @oshi_profile %>
      <div class="text-gray-700 text-left text-lg">
        <div class="container mx-auto px-5 py-6 flex flex-col-reverse md:flex-row items-center justify-center gap-6">
          <div class="w-full md:w-1/2 border border-gray-300 rounded-lg overflow-hidden shadow-sm text-sm md:text-base">
            <div class="flex border-b border-gray-200">
              <span class="w-1/3 font-medium bg-gray-100 px-4 py-2">名前</span>
              <span class="w-2/3 px-4 py-2"><%= @oshi_profile.name %></span>
            </div>
            <div class="flex border-b border-gray-200">
              <span class="w-1/3 font-medium bg-gray-100 px-4 py-2">性格</span>
              <span class="w-2/3 px-4 py-2"><%= @oshi_profile.personality %></span>
            </div>
            <div class="flex border-b border-gray-200">
              <span class="w-1/3 font-medium bg-gray-100 px-4 py-2">年齢</span>
              <span class="w-2/3 px-4 py-2"><%= @oshi_profile.generation %></span>
            </div>
            <div class="flex border-b border-gray-200">
              <span class="w-1/3 font-medium bg-gray-100 px-4 py-2">性別</span>
              <span class="w-2/3 px-4 py-2"><%= @oshi_profile.gender %></span>
            </div>
            <div class="flex">
              <span class="w-1/3 font-medium bg-gray-100 px-4 py-2">一人称</span>
              <span class="w-2/3 px-4 py-2"><%= @oshi_profile.pronoun %></span>
            </div>
          </div>
          <div class="w-full md:w-1/2 flex justify-center">
            <% if @oshi_profile.avatar.present? %>
              <img class="lg:w-2/3 md:w-3/4 w-5/6 object-cover object-center rounded" 
                  alt="推し画像" 
                  src="<%= @oshi_profile.avatar.url %>">
            <% else %>
              <img class="lg:w-2/3 md:w-3/4 w-5/6 object-cover object-center rounded" 
                  alt="プロフィール画像" 
                  src="<%= asset_path('sample.png') %>">
            <% end %>
          </div>
        </div>
      </div>
    <% else %>
      <p class="text-center text-gray-500 mb-6 block sm:hidden">
        推しプロフィールが<br>
        設定されていません
      </p>
      <p class="text-center text-gray-500 hidden sm:block">
        推しプロフィールが設定されていません
      </p>
    <% end %>
    <div class="flex justify-center mb-6">
      <% if @oshi_profile %>
      <%= link_to "編集", edit_oshi_profile_path, class: 'text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg ml-4 block sm:hidden' %>  
      <% else %>
      <%= link_to "設定", new_oshi_profile_path, class: 'text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg ml-4 block sm:hidden' %>  
      <% end %>
    </div>
  </div>
</div>
