<div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
  <div class="bg-white shadow-md p-6 rounded-lg max-w-5xl w-full lg:w-2/3">
    <h1 class="text-4xl font-bold mb-6 text-center">推しプロフィール編集</h1>
    <%= form_with(model: @oshi_profile, local: true) do |form| %>
      <div class="relative mb-8 flex justify-center">
        <div class="w-full lg:w-3/4">
          <%= form.label :name, '推しの名前', class: 'leading-7 text-sm text-gray-600 mt-4' %>
          <%= form.text_field :name, class: 'w-full bg-gray-100 rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-2 px-4 leading-8 transition-colors duration-200 ease-in-out' %>
        </div>
      </div>
      <div class="relative mb-8 flex justify-center">
        <div class="w-full lg:w-3/4">
          <%= form.label :personality, '推しの性格', class: 'leading-7 text-sm text-gray-600 mt-4' %>
          <%= form.text_field :personality, class: 'w-full bg-gray-100 rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-2 px-4 leading-8 transition-colors duration-200 ease-in-out' %>
        </div>
      </div>
      <div class="relative mb-8 flex justify-center">
        <div class="w-full lg:w-3/4">
          <%= form.label :generation, '推しの年齢', class: 'leading-7 text-sm text-gray-600 mt-4' %>
          <%= form.text_field :generation, class: 'w-full bg-gray-100 rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-2 px-4 leading-8 transition-colors duration-200 ease-in-out' %>
        </div>
      </div>
      <div class="relative mb-8 flex justify-center">
        <div class="w-full lg:w-3/4">
          <%= form.label :gender, '推しの性別', class: 'leading-7 text-sm text-gray-600 mt-4' %>
          <%= form.text_field :gender, class: 'w-full bg-gray-100 rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-2 px-4 leading-8 transition-colors duration-200 ease-in-out' %>
        </div>
      </div>
      <div class="relative mb-8 flex justify-center">
        <div class="w-full lg:w-3/4">
          <%= form.label :pronoun, '推しの一人称', class: 'leading-7 text-sm text-gray-600 mt-4' %>
          <%= form.text_field :pronoun, class: 'w-full bg-gray-100 rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-2 px-4 leading-8 transition-colors duration-200 ease-in-out' %>
        </div>
      </div>
      <div class="relative mb-8 flex justify-center">
        <div class="w-full lg:w-3/4">
          <%= form.label :avatar, '推し画像', class: 'leading-7 text-sm text-gray-600 mt-4' %>
          <%= form.file_field :avatar, class: 'w-full bg-gray-100 rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-2 px-4 leading-8 transition-colors duration-200 ease-in-out', accept: 'image/*' %>
          <%= form.hidden_field :avatar_cache %>
        </div>
      </div>
      <div class="actions flex justify-center mb-6">
        <%= form.submit '更新', class: 'text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg' %>
      </div>
    <% end %>
    <div class='text-center mb-6'>
      <%= button_to 'プロフィールを削除', oshi_profile_path, method: :delete, class: 'text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded text-lg' %>
    </div>
    <div class='text-center'>
      <%= link_to "マイページに戻る", mypage_path, class: 'text-gray-700 decoration-2 underline-offset-4 transition-colors hover:underline' %>
    </div>
  </div>
</div>